* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  /* text-align: center; */
}
.name {
  display: flex;
  gap: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
/* Homework */
/* border-box : width && height will include padding / margin /border;
 content-box: width && height will not include padding / margin /border; */

/* box-model */
.prasanna {
  margin: 20px !important;
  padding: 20px !important;
  border: 5px solid black !important;
}

.prasanna2 {
  margin: 10px !important;
  padding: 2px !important;
  border: 15px solid black !important;
  border-radius: 50%;
}
